*{
    margin: 0;
    padding: 0;
}
body{
    background: #020A18;
}

.header-main h1{
    color: var(--3-a-68-b-8, #3A68B8);
    font-family: sans-serif;
    font-size: 22.545px;
}
.header-main{
    display: flex;
    align-items: center;
}

.header-item{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;    ;
}

.header-menu  a{
    color: var(--ffffff, #FFF);
    font-family: sans-serif;
    font-size: 16px;
    text-decoration: none;
    margin: 0 25px;
}


.header-menu {
    padding: 0 20px ;
    margin: 20px 0  ;
}

.header-button button{
    color: var(--ffffff, #FFF);
    font-size: 16px;
    height: 47px;
    padding: 15px 30px 27px 30px;
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
}

.section-1{
    margin-top: 100px;
    justify-content: center;
    display: flex;
}
.left-part-1{
    margin-top: 100px;
}

.left-part-1 h2{
    color: var(--3-a-68-b-8, #3A68B8);
    font-family: sans-serif;
    font-size: 18px;
}

.left-part-1 h1{
    width: 604px;
    color: var(--ffffff, #FFF);
    font-family: sans-serif;
    font-size: 55px;
    margin: 25px 0 40px 0; 
}

.left-part-1 p{
    width: 558px;
    color: var(--ffffff, #FFF);
    font-family: sans-serif;
    font-size: 18px;
    margin: 25px 0;
}
.btn-1{
    color: var(--ffffff, #FFF);
    font-family: sans-serif;
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
}

.btn-2{
    color: var(--ffffff, #FFF);
    font-family: sans-serif;
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
}

.section-1-foot{
    margin-top: 7%;
    display: flex;
    justify-content: center;
    gap: 120px;
}

.section-2{
    margin: 200px 0;
    justify-content: center;
    display: flex;
}
.right-part-2{
    margin-top: 200px;
}
.right-part-2 h1{
    color: var(--ffffff, #FFF);
    font-family: sans-serif;
    font-size: 40px;
    width: 526.365px;
    height: 115.504px;
}

.right-part-2 p{
    width: 500.264px;
    height: 86.628px;
    color: var(--ffffff, #FFF);
    font-family: sans-serif;
    font-size: 16px;
}
.btn-3{
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    padding: 15px 30px;
    color: var(--ffffff, #FFF);
    font-family: sans-serif;
    font-size: 16px;
}

.section-3{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.left{
    text-align: center;
    width: 412.963px;
    height: 478px;
    border-radius: 10px;
    background: #101725;
    padding: 30px;
}
.middle {
    text-align: center;
    width: 412.963px;
    height: 478px;
    border-radius: 10px;
    background: #101725;
    padding: 30px;
}
.right {
    text-align: center;
    width: 412.963px;
    height: 478px;
    border-radius: 10px;
    background: #101725;
    padding: 30px;
}

.left h1{
    color: var(--ffffff, #FFF);
    font-family: sans-serif ;
    font-size: 25px;
    margin: 50px 0;
}
.left p{
    color: var(--ffffff, #FFF);
    font-family: sans-serif;
    font-size: 16px;
    margin-top: 70px ;
}
.middle h1 {
    color: var(--ffffff, #FFF);
    font-family: sans-serif;
    font-size: 25px;
    margin: 50px 0;
}

.middle p {
    color: var(--ffffff, #FFF);
    font-family: sans-serif;
    font-size: 16px;
    margin-top: 70px;
}
.right h1 {
    color: var(--ffffff, #FFF);
    font-family: sans-serif;
    font-size: 25px;
    margin: 50px 0;
}

.right p {
    color: var(--ffffff, #FFF);
    font-family: sans-serif;
    font-size: 16px;
    margin-top: 70px;
}

.section-4 {
    display: flex;
    justify-content: center;
    margin: 180px;
}


.left-part-4 h1{
    width: 546.009px;
    height: 100.563px;
    color: var(--ffffff, #FFF);
    font-family: sans-serif;
    font-size: 40px;
    margin: 35px 0;
}
.left-part-4 p{
    width: 458.329px;
    height: 75.422px;
    color: var(--ffffff, #FFF);
    font-family: sans-serif;
    font-size: 16px;
}

.sign:hover{
    color: #3A68B8;
    background: #fff;
    transition: 0.5s;
}