*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.container{
    width: 80%;
    margin: 0 auto;
}
body{
    font-family: "PLayfair Display", sans-serif;
}
#header{
    padding: 25px 0;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav a{
    color: #B8BECD;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    margin: 0 30px;
}
.header-nav a:hover{
    color: #202336;
    font-size: 16px;
    font-weight: 500;
}
.btn-1{
    width: 132px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid #FB8F1D;
    background: none;
    color: #FB8F1D;
    font-family: "Inter";
    font-size: 15px;
    font-weight: 500;
    margin: 0 20px;
}
.btn-2{
    color: #FFF;
    font-family: "Inter";
    font-size: 15px;
    font-weight: 500;
    width: 132px;
    height: 44px;
    border-radius: 8px;
    background: #FB8F1D;
    border: none;
}
.main-info h1{
    color: #202336;
    font-family: "Playfair Display", sans-serif;
    font-size: 64px;
    font-weight: 700;
}
.main-info h4{
    color: #202336;
    font-family: "Inter";
    font-size: 22px;
    font-weight: 600;
    margin: 74px 0 21px 0 ;
}
.main-info button:hover{
    background: none;
    border: 2px solid #FB8F1D ;
    color: #FB8F1D;
}
#main{
    margin: 100px 0;
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.line{
    width: 32px;
    height: 2px;
    border-radius: 4px;
    background: #202336;
    margin-bottom: 48px;
}
.selects{
    display: flex;
    width: 57%;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.selects select{
    color: #4A4C53;
    font-family: "Inter";
    font-size: 15px;
    font-weight: 400;
    padding: 10px 40px;
    width: 220px;
    height: 52px;
    border-radius: 6px;
    border: 0.8px solid #AFB0B9;
}
.main button{
    width: 180px;
    height: 52px;
    border-radius: 8px;
    background: #FB8F1D;
    border: none;
    color: #FFF;
    font-size: 17px;
    font-weight: 700;
    margin-top: 30px;
}
.plus{
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    width: 40px;
    height: 40px;
    background: yellow;
}
.main-plus{
    position: absolute;
    top: -30px;
    left: 500px;
}
.circle{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 5px solid #57D2A3;
}
.main-circle{
    position: absolute;
    top: 270px;
    left: -95px;
}
.main-circle-2 {
    position: absolute;
    top: 630px;
    left: 580px;
}
.main-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-2-info h1{
    color: #000;
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: 700;
}
.main-2-info p{
    color: #7D7987;
    font-family: "Muli", sans-serif;
    font-size: 17px;
    font-weight: 300;
    margin: 30px 0;
}
.main-2-info button{
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    width: 164px;
    height: 48px;
    border-radius: 8px;
    background: #FB8F1D;
    border: none;
}
.world-plus {
    position: absolute;
    top: 1030px;
    left: 900px;
}
.world-circle {
    position: absolute;
    top: 1330px;
    left: 1640px;
}
#blocks{
    margin: 100px 0;
    position: relative;
}
.blocks-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blocks-text h1{
    color: #000;
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: 700;
}
.blocks-text a{
    color: #FB8F1D;
    font-family: "Inter";
    font-size: 17px;
    font-weight: 600;
}
.blocks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    overflow-x: auto;
}
.block{
    border-radius: 20px;
    width: 300px;
    margin: 50px 30px;
    position: relative;
}
.block-info {
    position: absolute;
    background: #FFF;
    left: 0;
    bottom: -10px;
    border-top-right-radius: 15px;
    padding: 20px 40px;
}
.block img{
    border-radius: 20px;
}
.block-info h4{
    color: #042521;
    font-family: "Inter";
    font-size: 17px;
    font-weight: 600;
}
.block-info span{
    color: #80918E;
    font-family: "Inter";
    font-size: 15px;
    font-weight: 500;
}
.block-plus{
    position: absolute;
    left: 90px;
    top: 180px;
}
.block-c1 {
    position: absolute;
    top: -50px;
    left: 1200px;
}
.block-c2{
    position: absolute;
    bottom: -90px;
    left: 800px;
}
#main-3 {
    margin: 200px 0;
    position: relative;
}
.main-3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.main-3-info h1{
    color: #000;
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: 700;
}
.main-3-info p{
    color: #7D7987;
    font-family: "Muli", sans-serif;
    font-size: 17px;
    font-weight: 300;
    margin: 30px 0;
}
.main-3-info button{
    color: #FFF;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
    width: 164px;
    height: 48px;
    border-radius: 8px;
    background: #FB8F1D;
    border: none;
} 
.main-c{
    position: absolute;
    top: 40px;
    left: 190px;
}
.main-p1{
    position: absolute;
    top: 420px;
    left: 640px;
}
.main-p2 {
    position: absolute;
    left: 1550px;
    top: 40px;
}
#main-4{
    margin: 100px 0;
}
.le{
    margin: 100px 0;
    color: #000;
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: 700;
}
.stars{
    display: flex;
}
.main-4 p{
    margin: 30px 0 40px 0;
    color: #000;
    font-family: "Muli", sans-serif;
    font-size: 24px;
    font-weight: 400;
}
.main-4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.image-5-info{
    position: absolute;
    display: flex;
    gap: 12px;
    left: 1410px;
    top: 430px;
    background: #FFF;
    padding: 14px 20px;
    border-top-left-radius: 16px;
}
.main-4-plus{
    position: absolute;
    left: 1120px;
    top: 470px;
    transform: rotate(45deg);
}
.main-4-c1{
    position: absolute;
    left: 1508px;
    top: -20px;
    z-index: -1;
}
.main-4-c2 {
    position: absolute;
    left: -120px;
}
#main-5 {
    margin: 100px 0;
}
.main-5-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.main-5-text h1{
    color: #000;
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: 700;
}
.main-5-text a{
    color: #FB8F1D;
    font-family: "Inter";
    font-size: 17px;
    font-weight: 600;
}
.main-nav img{
    border-radius: 10px 10px 0 0 ;
    margin: 30px 0 15px 0;
    width: 280px;
    height: 330px;
}
.main-nav h1{
    color: #000;
    font-family: "Inter";
    font-size: 19px;
    font-weight: 700;
}
.main-nav p{
    color: #7D7987;
    font-family: "Inter";
    font-size: 15px;
    font-weight: 400;
    margin: 10px 0 20px 0;
}
.main-nav a{
    color: #FB8F1D;
        font-family: "Inter";
        font-size: 15px;
        font-weight: 600;
}
.mains{
    display: flex;
    justify-content: space-evenly;
}
.last-plust{
    position: absolute;
    left: 1700px;
}
.last-c1{
    position: absolute;
    top: px;
}

#footer {
    background: #f9f9fb;
    margin-top: 150px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;
}

.footer-logo p {
    color: #848484;
    font-family: "Muli", sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding: 25px 0;
    line-height: 28px;
}

.last-block {
    display: flex;
    flex-direction: column;
}

.footer-logo span {
    color: #848484;
    font-family: "Muli", sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 28px;
    /* 164.706% */
    padding-top: 25px;
}

.last-block h4 {
    color: #000;
    font-family: "Muli", sans-serif;
    font-size: 19px;
    font-weight: 700;
    padding: 10px 0;
}

.last-block a {
    color: #848484;
    font-family: "Muli", sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 0;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logos a {
    color: #202336;
    font-size: 29px;
    margin: 20px 0;
    padding: 0 15px;
}
