*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
.container{
    width: 80%;
    margin: 0 auto;
}
#header{
    background-image: url(../img/headway.png);
    background-size: cover;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    margin: 30px 0 ;
    display: flex;
    align-items: center;
}
.header-logo h1{
    color: #FF001E;
    font-size: 23px;
    font-weight: 700;
    margin: 10px;
}
.header-menu{
    padding-left: 30px;
}
.header-menu a:last-child{
    font-size: 30px;
    color: #FF001E;
    margin-left: 20px;
}
.header-menu a{
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    margin-right: 20px;
    transition: .4s;
}
.header-menu a:hover{
    text-decoration: underline;
    color: #FF001E;
}

.header-menu button{
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    width: 193px;
    height: 48px;
    border-radius: 10px;
    border: 2px solid #FFF;
    background: none;
}
.header-manu button:hover{
    border: 2px solid #ff001e;
    color: #ff001e;
}
.left-nav{
    margin-top: 270px ;
}
.left-nav h1{
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    font-size: 120px;
    font-weight: 700;
}
.left-nav h4{
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
}
.left-nav button{
    width: 322px;
    height: 50px;
    border-radius: 10px;
    background: #FF001E;
    border: none;
    color: #FFF;
    font-size: 18px;
    font: 600px;
    margin-top: 40px;
    transition: .6s;
}
.left-nav button:hover{
    color: #FF001E;
    background: #FFF;
}
.left-nav p{
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    margin-top: 17px;
    margin-bottom: 80px;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-size: 50px;
}
.right-nav a{
    color: #FF001E;
}
.main-menu{
    width: 280px;
    height: 170px;
    border-radius: 20px;
    background: #222;
    margin: 35px;
    transition: .6s;
}
.first{
    text-align: center;
    padding: 20px;
}
.first h3{
    margin-top: 20px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}
.main{
    display: flex;
    justify-content: center;
}
.main-menu:hover{
    opacity: .7;
}