*{
    margin: 0;
    padding: 0;
}

body{
    background: #0B0B22;;
}

#header{
    padding: 20px;
}
.conteiner{
    width: 1140px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1{
    color: #FFF;
    text-align: center;
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-nav ul a{
    color: rgba(255, 255, 255, 0.80);
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 25px ;
}

.header button{
    color: #FFF;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px 30px;
    border-radius: 3px;
    background: var(--button-light, rgba(255, 255, 255, 0.10));
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.10);
}

.block h3{
    color: var(--green, #16FCD2);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 1.6px;
}

.block h1{
    color: #FFF;
    text-align: center;
    font-family: sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
}

.block p{
    color: var(--muted, rgba(255, 255, 255, 0.60));
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.btn-1{
    color: #FFF;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 3px;
    background: var(--primary, #6016FC);
    padding: 15px 55px;
}

.btn-2{
    color: #FFF;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 195px;
    padding: 15px 0;
    border-radius: 3px;
    background: var(--button-light, rgba(255, 255, 255, 0.10));
    margin: 15px 25px;
}

.block-btn{
    text-align: center;
    padding: 25px 0;

}

#section{
    margin-top: 100px;
}

.block-1{
    color: var(--muted, rgba(255, 255, 255, 0.60));
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    width: 328px;
    height: 276px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--light, rgba(255, 255, 255, 0.05));
}
.block-1 h4{
    color: #FFF;
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0 40px;
}

.block-1 img{
    padding: 40px 40px 15px;
}

.block-1 p{
    padding: 10px 40px ;
}

.blocks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 100px;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 30px;
}
