* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 90%;
}

#header {
    position: fixed;
    padding: 20px 0;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.header a {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

#hero {
    background: url("https://s3-alpha-sig.figma.com/img/f105/d631/976510030690201f0b4c883f500e16c2?Expires=1693180800&Signature=pxhhOP2iO7I95Z5fwFHbTyZq2S9RYBJRYBoMG1UeZmDlJ42FVxcl1LBvlsDg8bYo~bBWO-DrdSVaLqWt05sOQzRawHZSVb8SW3hXpq6xnYSluo69LIeDH2CuoYO7ME5vSBrjT3faq~vZSlhCQ5KEEbQy3VSY812J-l94g9IOYDEFNIV-cG0vWOUuFtoW8L2fWS3KmWNvRaprkyFTIYk~-yS8yceggl01qiR5P7gv2DtCigYcgp39KmnqfM2ouUyNmZUOd5YJsbRpCuAwnjTm8mREF4OXj95V7nobtHwNarCX7vlaER8FF0rIwKoAstXYFH69bkvESxXGsowtGvuPiA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4") no-repeat center/cover;
    min-height: 120vh;
}

.hero {
    padding-top: 250px;
}

.hero h1 {
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
}

.hero h1 span {
    color: #f90;
}

.hero p {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    margin: 35px 0 73px 0;
}

.hero p span {
    color: #f90;
}

.button {
    border: none;
    cursor: pointer;
}

.btn-1 {
    width: 231px;
    height: 36px;
    border-radius: 40px 0px 0px 40px;
    background: #F90;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
}

.btn-2 {
    width: 120px;
    height: 36px;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #F90;
    border-radius: 0px 40px 40px 0px;
    background: transparent;
}

#blocks {
    background: url(blocks.png) no-repeat center;
    min-height: 100vh;
}

.block-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.block-top h1 {
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
    margin-top: 60px;
}

.block-top img {
    margin-left: 50px;
    margin-top: 50px;
}

.blocks {
    padding: 50px 0;
}

.blocks-one {
    padding-left: 30px;
    margin-top: 100px;
    position: relative;
    width: 241px;
    height: 340px;
    border-radius: 20px;
    background: radial-gradient(128.99% 141.42% at 0% 0%, rgba(99, 99, 99, 0.58) 0%, rgba(99, 99, 99, 0.58) 100%);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blocks-one img {
    position: absolute;
    top: -120px;
}

.blocks-one h3 {
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    padding-top: 90px;
}

.blocks-one p {
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    margin: 8px 0 20px 0;
    text-align: center;
}

.radios {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
}

.radio-one {
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio-one h6 {
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    padding: 0 0 0 10px;
}

.counter-block {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.counter-block h5 {
    color: #FFF;
}

.counter-block div {
    color: #FFF;
}

.price-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.price-block h4 {
    color: #FFF;
    margin-right: 15px;
    text-decoration: line-through;
    font-weight: 400;
    font-size: 15px;
}

.price-block button {
    width: 83px;
    height: 25px;
    border-radius: 60px;
    background: #F90;
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
}

.blocks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#info {
    width: 100%;
    height: 600px;
    background: black;
}

.info {
    position: relative;
}

.info-right {
    position: relative;
}

.info-right img {
    position: relative;
    width: 349px;
    height: 350px;
    margin-top: 200px;
    margin-left: 60px;
}

.photo1 {
    position: absolute;
    left: 15px;
    bottom: 250px;
        background: #282626;
        border-radius: 50%;
        width: 90px;
        height: 90px;
    }
    
    .photo2 {
        position: absolute;
        left: 210px;
        bottom: 340px;
        background: #282626;
        border-radius: 50%;
        width: 90px;
        height: 90px;
    }
    
    .photo3 {
        position: absolute;
        left: 370px;
        bottom: 200px;
        background: #282626;
        border-radius: 50%;
        width: 90px;
        height: 90px;
    }
    
    .photo4 {
        position: absolute;
        left: 340px;
        bottom: 0px;
        background: #282626;
        border-radius: 50%;
        width: 90px;
        height: 90px;
    }
    
    .photo5 {
        position: absolute;
        left: 60px;
        bottom: 0px;
        background: #282626;
        border-radius: 50%;
        width: 90px;
        height: 90px;
    }
    
    .info {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .info-left {
        margin-top: 130px;
    }
    
    .info-left h3 {
        color: #FFF;
        font-size: 24px;
        font-weight: 600;
    }
    
    .info-left h4 {
        color: #FFF;
        font-size: 24px;
        font-weight: 600;
    }
    
    .info-left-img img {
        width: 20px;
        height: 20px;
        margin-top: 50px;
        margin-left: 10px;
    }
    
    .info-left p {
        color: #FFF;
        font-size: 12px;
        font-weight: 400;
        margin-top: 20px;
    
    }
    
    .line {
        width: 250px;
        height: 1px;
        background: #F90;
        margin-top: 10px;
    }
    
    #input {
        background: black;
        width: 100%;
        height: 600px;
    }
    
    .input h1 {
        color: #F90;
        font-size: 20px;
        font-weight: 600;
    }
    
    .input p {
        color: #F90;
        font-size: 12px;
        font-weight: 400;
        margin-top: 20px;
    }
    
    .name {
        width: 230px;
        height: 30px;
        background: transparent;
        border: 1px solid #F90;
    }
    
    .number {
        width: 230px;
        height: 25px;
        background: transparent;
        border: 1px solid #F90;
    }
    
    .input-1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 25%;
    }
    
    .date {
        width: 110px;
        height: 40px;
        background: transparent;
        border: 1px solid #F90;
    }
    
    .comentary {
        width: 230px;
        height: 50px;
        background: transparent;
        border: 1px solid #F90;
    }
    
    .input button {
        width: 200px;
        height: 51px;
        border-radius: 20px;
        background: #F90;
        color: #FFF;
        font-style: 30px;
        font-weight: 800;
        margin-top: 30px;
    }
    
    .input-text {
        margin-top: 20px;
        margin-left: 100px;
    }